* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
  }
  
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
}

.root {
  width: 100%;
  height: 100%;
}
